---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  misc-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key: modernize-use-auto.MinTypeNameLength
    value: '0'
  - key: cppcoreguidelines-pro-type-member-init.HonorConstructorInitializers
    value: 'true'
...
